<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="author" content="Justice">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Employee Home Page</title>
        <link type="text/css" rel="stylesheet" href="../styles/style.css">
    </head>

    <body>
        <header>
            <div id="header" class="container">
                <div id="branding">
                    <h1>Employee Reimbursement System</h1>
                    <h3>Employee Homepage</h3>
                </div>
            </div>
            </header>
            <section>
                <nav id="links">
                    <ul>
                        <li><a href="../pages/requestform.html">Submit a Request</a></li>
                        <li><a href="../pages/viewinformation.html">View Information</a></li>
                        <li><a href="../pages/viewpending.html">View Pending Requests</a></li>
                        <li><a href="../pages/viewresolved.html">View Resolved Requests</a></li>
                        <li>
                        <form action="../LogOut" method="GET">
                        <button type="submit" id="logout">Log Out</button>
                        </form>
                        </li>
                    </ul>
                </nav>
            </section>
           <script>"../scripts/logout.js"</script>
    </body>
</html>