<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <meta name="author" content="Justice">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Manager Home Page</title>
        <link type="text/css" rel="stylesheet" href="../styles/style.css">
    </head>

    <body>
        <header>
            <div id="header" class="container">
                <div id="branding">
                    <h1>Employee Reimbursement System</h1>
                    <h3>Manager Homepage</h3>
                </div>
            </div>
            </header>
            <section>
                <nav id="menu options">
                    <ul>
                        <li><a href="../pages/viewemployee.html">View Employees</a></li>
                        <li><a href="../pages/viewpendingman.html">View Pending Requests</a></li>
                        <li><a href="../pages/viewresolvedman.html">View Resolved Requests</a></li>
                        <li>
                        <form action="../LogOut" method="GET">
                        <button type="submit" id="logout">Log Out</button>
                        </form>
                        </li>
                    </ul>
                </nav>
        </section>
    </body>
</html>