body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #f0f8ff;
    color: black;
    min-height: 70px;
    border-bottom: slategray 3px solid;
}

a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}
a:hover {
    border-bottom: 2px solid black;
}
section li {
    list-style-type: none;
    padding-bottom: 7px;
}

header li {
    list-style-type: none;
}

table{
    width:100%;
    border: 1px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}
th, td{
    padding: 15px;
}